@media screen and (min-width:1025px) and (max-width: 1440px) {
  .topbar {
    width: 100%;
    padding: 0.8rem 1rem;
    gap: 0.5rem;
  }

  .topbar i{
    font-size: 0.6rem;
    padding-right: 0.3rem;
  }

  .topbar span{
    font-family: 'Open Sans Hebrew';
    font-size: 0.6rem;
    font-weight: 400;
    color: white;
  }

  .pipe-line{
    color: white;
  }

  nav{
    width: 100%;
    display: flex;
    justify-content: start;
    padding: 1rem 1rem;
    position: relative;
    gap: 0.8rem;
  }

  .navimg{
    width:15%;
  }

  .navimg img{
    width: 80%;
  }

  .nav-menu{
    display: flex;
    align-items: center;
    gap: 1.6rem;
    width: 65%;
}

  .nav-menu a{
    text-decoration: none;
    color: black;
    font-family: 'Open Sans Hebrew Condensed';
    font-weight: 600;
    font-size: 1.2rem;
  }

  .hamburger{
    display: none;
  }

  .nav-btn{
    display: block;
    width: 15%;
  }

  .nav-btn button{
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: white;
    border: 2px solid #2F42DC;
    border-radius: none;
    border-left: 4px solid #2F42DC;
  }

  /* -------main section-------  */

  .carousel{
    width: 100%;
    height: auto;
    margin: 0;
  }

  .carousel-item .carousel-text{
    width: 100%;
    font-weight: 600;
    font-size: 2.5rem;
  }

  .carousel-item .carousel-para{
    width: 100%;
    font-weight: 500;
    font-size: 1.5rem;
  }

  .carousel-btn{
    padding: 0.6rem 2.8rem;
  }

  .carousel-btn a{
    font-weight: 600;
    font-size: 1rem;
  }

  .carousel-inner .carousel-item img{
    width: 100%;
    height: 600px;
  }

  .carousel-item .carousel-caption{
    margin-bottom: 8.5rem;
  }


/* ------Secound Section------ */

  .section-two{
    width: 100%;
    height: auto;
    display: flex;
    gap: 0;
    box-sizing: border-box;
    margin: 0;
  }
  .section-two .left{
    width: 50%;
  }

  .section-two .right{
    width: 50%;
    padding: 1rem 3rem 1rem 3rem;
    justify-content: center;
  }

  .section-two .right h3{
    font-size: 2.5rem;
  }

  .section-two .right p{
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .section-two .right .rightsub-para p{
    font-weight: 600;
    font-size: 1.1rem;
    margin-top: 1rem !important;
  }

  .section-two .right .secSection-btn{
    width: 40%;
    background-color: #2F42DC;
    padding: 0.2rem 0.8rem 0.5rem 0.8rem; 
    margin-top:2.3rem;
  }

  .section-two .right .secSection-btn a{
    font-weight: 600;
    font-size: 0.7rem 
  }

  .third-section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }

  .third-section .first{
    width: 25%;
    height: 500px;
  }

  .third-section .secound{
    width: 25%;
    height: 500px;
  }

  .third-section .third{
    width: 25%;
    height: 500px;
  }

  .third-section .fourth{
    width: 25%;
    height: 500px;
  }

  /* inspire section  */
  .inspire-section{
    flex-direction: column;
    padding: 3rem 3rem;
  }

  .inspire-section .text{
    width: 100%;
  }

  .inspire-section .text h3{
    font-size: 1.8rem;
    font-weight: 600;
  }

  .inspire-section .text p{
    font-size: 1.1rem;
    font-weight: 400;
  }
 
  .inspire-section .inspire-btn{
    width: 50%;
    justify-content: start;
  }

  .inspire-btn button{
    padding: 0.3rem 0.5rem 0.3rem 0.5rem; 
    width: 30%;
  }

  .inspire-btn button a{
    font-size: 1rem;
  }

  /* tab section  */
  .tab{
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0rem;
  }

  .tab .tab-heading{
    width: 100%;
    gap: 1.5rem;
    justify-content: right;
    margin-bottom: 2.5rem;
    flex-wrap: wrap;
  } 

  .tab .tab-heading a{
    font-family: 'Open Sans Hebrew';
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(99, 98, 98);
    text-decoration: none;
  }

  .tab .tab-heading .active{
    color: #2F42DC;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }

  .tabGallery{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1.5rem;
  }

  .tabimg{
    width: 20%;
  }

  .tabimg img{
    width: 100%;
  }

  /* banner section  */
  .banner{
    width: 100%;
    height: auto;
    padding: 4rem 1.5rem;
    margin-top: 2rem;

  }

  .inner-banner{
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
  }

  .inner-banner .left{
    width: 50%;
  }

  .inner-banner .left h5{
    font-size: 1.9rem;
  }

  .inner-banner .left h3{
    font-size: 2.9rem;
    word-spacing: 0rem;
  }

  .inner-banner .right{
    width: 50%;
    display: flex;
    align-items: end;
    margin: 0;
    margin-bottom: -1rem;
  }

  .inner-banner .right p{
    font-family: 'Open Sans Hebrew';
    font-weight: 400;
    font-size: 0.9rem;
    color: white;
  }

  .textimonial-box{
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .box {
    background-color: #6780FF;
    padding: 2rem 1rem;
    padding-bottom: 1rem;
    position: relative;
    margin-bottom: 1rem;
    width: 25%;
  }

  .box .quotes i{
    color: #1d3ee3;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 0.8rem;
  }

  .box p{
    font-size: 1rem;
    padding-top: 0.5rem;
  }

  .box .rating {
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    display: flex;
    gap: 0.2rem;
    justify-content: center;
  }

  .box .rating i{
    color: #D9D9D9;
    font-size: 0.8rem;
  }

  .circle-img{
    position: absolute;
    top: 15.99rem;
  }

  .circle-img img{
    width: 20%;
  }

  .circle-img h5{
    font-family: 'Open Sans Hebrew';
    font-weight: 400;
    font-size: 1rem;
    color: white;
    padding-top: 0.5rem; 
  }

  /* bottom gallery  */
  .bottom-gallery{
    display: flex;
    gap: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
  }

  .bottom-gallery .first{
    width: 50%;
    height: 590px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: background-size 0.10s ease-in-out
  }

  .bottom-first-innerDiv {
    padding: 1rem 1.5rem;
    padding-bottom: 0rem;
  }

  .bottom-first-innerDiv p{
    font-size: 1rem;  
  }

  .bottom-first-innerDiv h4{
    font-size: 1.5rem;
    color: #2F42DC;
  }

  .bottom-gallery .secound{
    display: flex;
    gap: 1rem;
    width: 50%;
    padding: 0rem 0rem;
    margin: 0;
  }

  .bottom-gallery-innersec2{
    display: flex;
    gap: 1rem;
  }

  .bottom-gallery-innersec2-img{
    width: 80%;
  }

  .bottom-gallery-innersec2-img img{
    width: 100%;
  }

  .bottom-gallery-innersec2 h4{
    font-size: 1.3rem;
    padding-top: 0;
    margin-top: 0;
  }

  .bottom-gallery-innersec2 p{
    font-family: 'Open Sans Hebrew';
    font-weight: 400;
    font-size: 1rem;
  }

   .bottom-gallery-innersec2-img{
    display: flex;
    justify-content: center;
   }

  /* blue Lady section  */
  .blueLady{
    padding-top: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .blueLady .left{
    width: 50%;
    display: flex;
    justify-content: start;
  }

  .blueLady .left img{
    width: 90%;
  }

  .blueLady .right{
    width: 50%;
    justify-content: center;
    padding: 0rem 1rem 0rem 0rem;
  }

  .blueLady .right h3{
    font-size: 2rem;
    padding-bottom: 1.5rem;
  }

  .blueLady .right p{
    font-size: 1.1rem;
    color: white;
    padding-bottom: 1rem;
  }

  .blueLady .right .inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
  }

  .blueLady .right .inputs input{
    border: none;
    padding: 0.3rem 0.5rem;
    border-radius: 0.8rem;
  }

  .blueLady .right .inputs input{
    font-size: 0.9rem;
  }

  .blueLady .right .inputs .small-inputDivs{
    width: 100%;
    display: flex;
    gap: 0.8rem;
  }

  .blueLady .right .inputs .small{
    width: 100%;
    padding: 0.8rem 1.5rem;
  }

  .blueLady .right .inputs .large{
    width: 100%;
    padding: 0.8rem 1.5rem;
  }

  .large-inputDivs{
    width: 100%;
  }

  /* footer section  */
  footer{
    background-color: #1B2780;
    display: flex;
    /* flex-wrap: wrap; */
    padding: 4rem 0rem 0rem 2rem;
    gap: 1rem;
  }

  .footer-first{
    gap: 0.5rem;
    width: 25%;
  }

  .footer-first .img{
    width: 60%;
    margin-bottom: 0.5rem;
  }

  .footer-first .img img{
    width: 100%;
  }

  .footer-first i{
    color: white;
    font-size: 0.7rem;
    padding-right: 0.5rem;
  }
 
  .footer-first span{
    font-size: 0.8rem;
  }

  .first-footericon i{
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    opacity: 0.4;
  }

  .footer-secound{
    width: 25%;
  }

  .footer-secound h4{
    font-size: 1.1rem;
    padding-left: 7rem;
    margin-bottom: 1.8rem !important;
  }

  .footer-secound .anchors{
    /* justify-content: space-between; */
    margin-bottom: 2rem;
  }

  .footer-secound .anchors a{
    font-size: 0.7rem;
  }

  .footer-third{
    width: 25%;
  }

  .footer-third h4{
    font-size: 1.1rem;
    margin-bottom: 1.5rem !important;
  }


  .footer-third .third-anchorDiv a{
    font-size: 0.7rem;
  }

  .footer-fourth{
    width: 25%;
    /* position: relative; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    vertical-align: middle;
  }

  .footer-fourth img{
    width: 100%;
    /* height: 110px; */
     position: static;
    /*right: 0;
    bottom: 0;
    top: 0; */
  }

  .reserved{
    padding: 1rem 1rem;
    padding-bottom: 0.8rem;
    width: 100%;
  }

  .reserved .text{
    width: 70%;
  }
  
  .reserved .reservedIcon{
    width: 70%;
    display: flex;
    justify-content: end;
    gap: 0.8rem;
  }

  .reserved .text p{
    font-size: 0.8rem;
  }

  .reserved .reservedIcon span{
    font-size: 0.8rem;
    padding-right: 0.1rem;
  }

  .reserved .reservedIcon i{
    font-size: 1rem;
    color: #2F42DC;
    background-color: #ccc;
    padding: 0.8rem;
    border: none;
    border-radius: 0.9rem;
    margin-top: -0.6rem;
  }

  .backTotop{
    display: block;
  }

}